/*body*/
body {
  margin: 0px;
  color: #211f60;

h1 {
  text-transform: capitalize;
  text-align: center;
}

h2,
h3 {
  text-transform: capitalize;
}

main {
  margin: 80px 20px 0px 20px;
}

/*nav bar*/
.navBar {
  position: fixed;
  top: 0%;
  width: 100%;
}

.navBar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-weight: bolder;
  background-color: #211f60;
}

.navBar li {
  float: left;
}

.navBar a {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 20px;
  color: white;
}

/*flashcards*/
.mainContainer {
  display: flex;
  justify-content: center;
  margin: 100px 30px;
}

.signContainer {
  width: 60vw;
  max-width: 960px;
  height: 60vh;
  max-height: 600px;
  background-color: #c8c6ec;
  border-radius: 30px;
  border: 3px solid #211f60;
  margin: 10px;
}

.signName {
  text-align: center;
  padding: 5px;
  color: #211f60;
}

.sign {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.sign img {
  width: 50vw;
  max-width: 800px;
  height: 50vh;
  max-height: 400px;
  padding: 10px;
}

.captionsContainer {
  background-color: #c8c6ec;
  border-radius: 30px;
  border: 3px solid #211f60;
  width: 30vw;
  max-width: 300px;
  height: 60vh;
  max-height: 600px;
  margin: 10px;
}

.captionsContainer h2 {
  text-align: center;
  padding-top: 5px;
  color: #211f60;
}

.captionsContainer p {
  text-align: center;
  color: #211f60;
}

.learnControls {
  width: 60vw;
  max-width: 960px;
}

.flashcardBtn {
  background-color: #211f60;
  color: white;
  border-radius: 30px;
  width: 30vw;
  max-width: 450px;
}

/*learn*/
.deck figure {
  background-color: #c8c6ec;
  border: 3px solid #211f60;
  border-radius: 30px;
  width: 30vw;
  max-width: 300px;
}

.deck img {
  width: 80%;
  max-width: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.deck figcaption{
  text-align: center;
}

/*acknowledgemts*/
.contributors li {
  text-transform: capitalize;
}
